body {
    font-family: "Century Gothic", Candara, Cambria, Arial, Helvetica, sans-serif;
    background: white url("images/background.jpg") no-repeat right bottom;
}

h1 {
    color: MediumOrchid;
}

h2 {
    color: Plum;
}

li a {
    color: MediumSeaGreen;
}

input + label {
    color: RebeccaPurple;
}